@font-face {
    font-family: 'lineal_font';
    src: url("Lineal_Variable/LinealVF.woff2") format("woff2-variations"),
    url("Lineal_Variable/LinealVF.woff") format("woff-variations"),
    url("Lineal_Variable/LinealVF.ttf") format("ttf");
    font-weight: 15 950;
    font-stretch: 10% 100%;
  }
  .lineal_menu{
    display: inline;
    font: normal normal normal 14px/1 'lineal_font';
    font-size: inherit;
    text-rendering: auto;
    font-stretch: 50% 120%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .lineal_h2_post{
    display: inline-block;
    font: normal normal normal 24px/1 'lineal_font';
    font-size: inherit;
    text-rendering: auto;
    font-stretch: 50% 120%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .lineal_articles{
    display: inline-block;
    font: normal normal normal 32px/1 'lineal_font';
    font-size: inherit;
    text-rendering: auto;
    font-stretch: 100% 120%;
    font-weight: 950;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
 